
.container{
    width: 832px;
    height: 538px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid;
    background-color: #666;
}

#current-img{
    width: 827px;
    height: 400px;
    border: 2px solid white;
}

.menu-item{
    height: 120px;
    width: 201px;
    border: 2px solid white;
    margin-top: 10px;
}

.menu-item:hover{
    cursor: pointer;
}

.active {
    border-color: rgba(6, 200, 248, 0.952);
}