

table{
    margin: 50px auto;
    font-family: Courier New;
    border-radius: 4px;
}

tr:not(:first-child) td input{
    text-align: center;
    border-width: 0; 
    font-family: initial;
    padding: 0;
    font-size: 16px;
}

input:focus{
    outline: none;
}

table, th, td {
    border: 1px solid rgb(146, 146, 146);
    border-collapse: collapse;
    padding: 15px 20px;
    text-align: center
}

i{
    margin-left: 10px;
    margin-right: 10px;
}

table tbody:nth-child(1) tr td{
    font-family: Arial Black;
    font-weight: bold;
    background-color: rgb(146, 146, 146);
    color: white
}

.button{
    text-align: center;
    border: 1px solid;
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(158, 157, 157);
    border-color: rgb(133, 130, 130);
    box-shadow: 1px 2px #777;
}


.button:hover {
    cursor: pointer;
    
}


